@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

hr {
  animation: hr_animate 3s;
}

@keyframes hr_animate {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}
